<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIG6Jw0fPwSiB4OGjzuAxOYDqpn_vK_8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1033032582858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trendTrading</string>
	<key>PROJECT_ID</key>
	<string>trendtrading-4b591</string>
	<key>STORAGE_BUCKET</key>
	<string>trendtrading-4b591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033032582858:ios:f591d42f6389301d7e9633</string>
</dict>
</plist>